#root{
    height: 50%
}

.landingDiv > div{
    width: 100%;
    padding: 55px;
    padding-top: 0px;
    background-color: #292929;
    border: 5px solid #292929;
}

.landingDiv > div > h2{
    border-bottom: 3px solid #faebd7;
    display: flex;
    justify-content: center;
    font-size: 34px;
    color: blanchedalmond;
    margin-bottom: 30px;
    padding-bottom: 20px;
    margin-top: 12px;
    border-top: 3px solid #faebd7;
}

.landingFeature{
    display: flex;
    justify-content: flex-end;
    gap:12px;
    margin-bottom: 30px;
}

.landingFeature > button {
    border: 0;
    border-bottom: 2px solid #faebd7;
    background-color: #292929;
    margin-bottom: 12px;
    color: #faebd7;
    font-size: 14px;
    cursor: pointer;
}

.ant-card-body{
    border-radius: 37px;
    border: 1px solid #faebd7;
    background-color: #585555;
    color: #faebd7;
}

.ant-card-meta-title{
    display: flex;
    justify-content: flex-end;
    color: #faebd7;
}

.ant-card-meta-description{
    color: #faebd7;
}

.ant-row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    row-gap: 43px;
}

.ant-col-lg-6{
    margin-bottom: 16px;
}

.ant-card-bordered{
    border-radius: 13px;
}